@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
}

body {
    background: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greetings {
    font-size: 10rem;
    font-weight: 900;
}

.greetings>span {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        color: #fff;
        text-shadow: 0 0 12px #46d639, 0 0 50px #46d639, 0 0 100px #46d639;
    }

    10%,
    90% {
        color: #000000;
        text-shadow: none;
    }
}

.greetings>span:nth-child(2) {
    animation-delay: .2s;
}

.greetings>span:nth-child(3) {
    animation-delay: .4s;
}

.greetings>span:nth-child(4) {
    animation-delay: .6s;
}

.greetings>span:nth-child(5) {
    animation-delay: .8s;
}

/* .greetings>span:nth-child(6) {
    animation-delay: .10s;
}

.greetings>span:nth-child(7) {
    animation-delay: .12s;
}

.greetings>span:nth-child(8) {
    animation-delay: .14s;
}

.greetings>span:nth-child(9) {
    animation-delay: .16s;
}

.greetings>span:nth-child(10) {
    animation-delay: .18s;
}

.greetings>span:nth-child(11) {
    animation-delay: .20s;
}

.greetings>span:nth-child(12) {
    animation-delay: .22s;
} */

.description {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #fefefe;
}

.slide{
    flex: 1 1 auto;
    margin: 10px;
    padding: 5px 34px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #25d52b;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 10px;
    cursor: pointer;
}

.slide:hover {
    background-color: #25d52b;
    color: white;
    border: 2px solid #25d52b;
    border-radius: 2px 10px;
  }

#yes{
    background-color: transparent; 
  }
#yes{
    color: rgb(241, 11, 11);
    font-size: 13px;
    text-decoration: none;
}